@charset "utf-8";
/* CSS Document */

.tnt_ratings{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	display:block;
	width:210px;
	height:60px;
}

.rating_stars{
	margin-bottom:4px;
}

.rating_star{
	padding:2px;
	color:#F00;
	float:left; 
	cursor:pointer;
}

.rating_message_1{
	color:#000;
	display:block;
	clear:left; /* this is needed to go to next line in IE */
	line-height:1.5em;
	margin-left:2px;
}

.rating_message_2{
	color:#F60;
	display:block;
	clear:left; /* this is needed to go to next line in IE */
	line-height:1.5em;
	color:#CCC;
	margin-left:2px;
}